
.home-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-banner-containerr {
  display: flex;
  justify-content: space-between;
  justify-content:space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* width: 100pz; */
  max-width: 2100px;
  margin-bottom: 20px;
  height: 900px;
  transform: translateY(3%) translateX(0%);
}

.home-text-sectionn {
  flex: 2;
}

.primary-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.home-text-sectionn h3 {
  font-size: 1.2rem;
  color: #4d4c4c;
  margin: 5px 0;
  text-align: justify;
  max-width: 1900px;
  transform: translateY(-50%) translateX(0%);
}

.home-image-sectionn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-120%) translateX(5%);
}

.home-image-sectionn img {
  max-width: 100%;
  border-radius: 8px;
}
.home-image-sectionnn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-118%) translateX(5%);
}

.home-image-sectionnn img {
  max-width: 100%;
  border-radius: 8px;
}




.trip-info-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  transform: translateY(-130%) translateX(80%);
}

.trip-info-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.trip-info-container p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
  line-height: 1.6;
  
}

.trip-info-container h3 {
  font-size: 1.25rem;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  
}

.trip-info-containerr ul {
  list-style-type: none;
  padding-left: 0;
}

.trip-info-containerr ul li::before {
  content: "•";
  color: #333;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.secondary-button {
  background-color:#146190;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
}

.secondary-buttonn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .home-banner-containerr {
    flex-direction: column;
  }

  .home-image-sectionn {
    margin-top: 20px;
  }
}
