/* Feedback.css */

.feedback-container {
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px; /* Add some padding around the form */
  background-color: #f9f9f9; /* Background color for the container */
  border-radius: 8px; /* Add rounded corners to the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(20%) translateX(15%); /* Add a subtle shadow effect */
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  margin-bottom: 5px;
}

.feedback-form input,
.feedback-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.feedback-form input[type="date"] {
  width: 100%;
}

.feedback-form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #146190; /* Button color */
  color: #fff; /* Button text color */
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #0d4d73; /* Darker shade of button color for hover */
}
